<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Landing Page</title>

    <!--fonts-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="../../assets/newdesign/css/bootstrap.css" rel="stylesheet">
    <!--custom css-->
    <link rel="stylesheet" href="../../assets/newdesign/css/landing.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<!--Main Section-->

<div class="main">
    <div class="row">
        <div class="col-lg-6">
            <div class="nav-landing">

                <!--navbar-->

                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                    data-target="#mobile" aria-expanded="false" id="navbarToggle">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">
                                <img src="../../assets/newdesign/images/logo-landing.png" height="33" width="116"/>
                            </a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="mobile">
                            <ul class="nav navbar-nav">
                                <li><a href="CompleteAccountOverview.html">Sign Up </a></li>
                                <li><a href="#">Pricing</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Login</a></li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>

                <!--End navbar-->

                <p>
                    Interested in <span class="text-primary">saving 20%</span> of your Facebook ad spend?
                </p>

            </div>
        </div>
        <div class="col-lg-6">

            <!--Pop Up-->

            <div class="pop-up">
                <p>
                    Discover How The Campaign Maker
                    Can Help You Recover up to 20% of
                    Your Facebook Ad Spend
                    <span class="text-primary">Using Automated Rules Within 14 Days.</span>
                </p>

                <div class="scroll-down">
                    <img src="../../assets/newdesign/images/scroll-down.png"/>
                    <div class="text-center">
                        Scroll Down
                    </div>

                </div>

                <button class="btn btn-primary btn-sticky">
                    Questions?
                    <img src="../../assets/newdesign/images/messenger.png" height="50" width="50"/>
                </button>
            </div>

            <!--End Pop Up-->

        </div>
    </div>
</div>

<!--End Main Section-->


<!--Point Section-->

<div class="point">

    <div class="sticky-banner">
        <div class="sticky-content">
            <img src="../../assets/newdesign/images/sticky-banner.png"/>
            Take Charge of Your Facebook Campaigns
            <button class="btn btn-primary btn-banner">Start Free Trial</button>
        </div>
    </div>

    <div class="point-heading">
        <h1>Powerful Automation for <br>
            Maximum Efficiency
        </h1>

        <p>
            By applying our 3 point system, users have reported a <br>
            21% decrease in cost per conversion.
        </p>
    </div>


    <div class="row">
        <div class="col-lg-4">
            <h2>Analysis</h2>
            <img src="../../assets/newdesign/images/analysis.png" class="img-center" height="200" width="200"/>
            <p>
                The Campaign Analysis Tool will <br>
                scan your Facebook adsets and will <br>
                show how you can improve them.
            </p>
        </div>
        <div class="col-lg-4">
            <h2>Creation</h2>
            <img src="../../assets/newdesign/images/Creation.png" class="img-center" height="200" width="200"/>
            <p>The Campaign Creation Tool will <br>
                automatically split test every part you <br>
                specify to pinpoint your highest ROI.
            </p>
        </div>
        <div class="col-lg-4">
            <h2>Optimization</h2>
            <img src="../../assets/newdesign/images/Optimization.png" class="img-center" height="200" width="200"/>
            <p>
                The Campaign Optimization Tool will <br>
                automatically optimize your adsets <br>
                based on set rules and guidlines.
            </p>
        </div>
    </div>

</div>

<!--End Point Section-->


<!--Analysis-->

<div class="analysis">

    <div class="sticky-banner">
        <div class="sticky-content">
            <img src="../../assets/newdesign/images/sticky-banner.png"/>
            Take Charge of Your Facebook Campaigns
            <button class="btn btn-primary btn-banner">Start Free Trial</button>
        </div>
    </div>

    <div class="analysis-content">
        <div class="row">
        <div class="col-lg-6">

                <h2>How The Analysis Tool Can Find <br>
                    Hidden Gems in Your Adset.</h2>
                <p>
                    We created the analysis tool because we wanted to show you what <br>
                    part of your adset targeting is performing horribly and what part is <br>
                    making the most of your money.
                </p>
                <div class="row">
                   <div class="col-lg-6">
                       <img src="../../assets/newdesign/images/adest.png" height="60" width="60"/>
                       <h3>Adset Based Analysis</h3>
                       <p>
                           The analysis tool focuses on each <br>
                           individual adset, that way you can <br>
                           pin point the low performers and <br>
                           focus on whats working.
                       </p>
                   </div>
                   <div class="col-lg-6">
                       <img src="../../assets/newdesign/images/clock.png" height="60" width="60"/>
                       <h3>Actionable Data</h3>
                       <p>Our designers are Italian and are <br>
                           characterized by having an eye for <br>
                           beauty that is unparalleled</p>
                   </div>
                    <div class="clearfix"></div>
                   <div class="col-lg-6">
                       <img src="../../assets/newdesign/images/adest.png" height="60" width="60"/>
                       <h3>Exportable</h3>
                       <p>Uiio designs the experience in 3 <br>
                           steps, each increasing in detail, from <br>
                           the flow to the wireframes and from <br> pen and paper</p>
                   </div>
                   <div class="col-lg-6">
                       <img src="../../assets/newdesign/images/clock.png" height="60" width="60"/>
                       <h3>Personalized Suggestions</h3>
                       <p>Our designers are Italian and are <br>
                           characterized by having an eye for <br>
                           beauty that is unparalleled</p>
                   </div>
                </div>

        </div>
        <div class="col-lg-6">
            <img src="../../assets/newdesign/images/Browser.png" class="browser"/>
        </div>
    </div>
    </div>

</div>

<!--Analysis-->


    <!-- jQuery -->
    <script src="../../assets/newdesign/js/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap -->
    <script src="../../assets/newdesign/js/bootstrap.min.js"></script>
    <!-- Custom Bootstrap -->
    <script src="../../assets/newdesign/js/AutomaticOptimization.min.js"></script>
</body>
</html>